/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

* {
/*	-fx-secondary : #FFFF8D; */
	-fx-primary : #333333; 
	-fx-side_panel : #333333;   /* side panel  */
	-fx-icon_color : #B2B2B2; /* icon and text color */
	-fx-text : #CCCCCC; 
	-fx-text_hover : #3D78C3; 
	-fx-yellowish : #F6F688;
	/* yellowish - #F6F688 */
}

.root {
	-fx-background-color : #333333; 
	-fx-text-fill: -fx-text;
	/* rounded corners */
	/* 
	-fx-border-radius: 10 10 10 10;
  	-fx-background-radius: 10 10 10 10;
  	*/
}


.label {
	-fx-text-fill: -fx-text;
	-fx-font-family: 'Menlo'
} 

.button {
	-fx-background-color: -fx-side_panel;
	-fx-text-fill: -fx-text;
	-fx-text-hover: -fx-text_hover ;
	-fx-alignment: center-left;
	-fx-font-family: 'Menlo'
}
.button:hover {
	-fx-text-fill: -fx-text_hover ;
}


.progress-indicator .indicator {
    -fx-background-color: transparent ;
}
.progress-indicator {
    -fx-progress-color: white ;
}
.progress-indicator:critical {
    -fx-progress-color: red ;
}
.progress-indicator:warning {
    -fx-progress-color: orange ;
}


/* Background color of the whole context menu*/ 
.choice-box .context-menu { -fx-background-color: black; }
/*  Focused item background color in the list */
.choice-box .menu-item:focused { -fx-background-color: orange; }
/*  Text color of non-focused items in the list */
.choice-box .menu-item > .label { -fx-text-fill: white; }
/* Text color of focused item in the list */ 
.choice-box .menu-item:focused > .label { -fx-text-fill: black; }

.choice-box {
  -fx-background-color: black;
  -fx-mark-color: orange; /* arrow color */ 
}

.choice-box > .label { -fx-text-fill: white; }

/** stats menu button */
.split-menu-button .arrow-button {
    -fx-background-color: transparent ;
}
/* menu button background */
.split-menu-button > .label {
    -fx-background-color:  transparent;
    -fx-alignment: center-right;
}
.split-menu-button {
	-fx-background-color: -fx-side_panel;
}

.split-menu-button .menu-item {
    -fx-background-color: -fx-side_panel;
    }
.split-menu-button .button {
    -fx-background-color: transparent;
    }
.split-menu-button .menu-bar {
    -fx-background-color: transparent;
    }
.menu-item .label {
    -fx-text-fill: -fx-text;
    -fx-font-family: 'Menlo'
}
.menu-item:focused .label {
    -fx-text-fill: white;
}

/* background of menu items */
.context-menu {
    -fx-background-color: transparent;
}


.check-box {
	-fx-text-fill: -fx-text;
}

/* fontawesome glyphs */
.glyph-icon {
	-fx-fill: -fx-icon_color;
}

.glyph-icon:hover {
	-fx-fill: white;
}
/* ---------------------- */


/* artist stats */
.table-view {
   -fx-background-color: transparent;
   -fx-table-cell-border-color: transparent;
   -fx-font-family: 'Menlo'
}
.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: transparent;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: #3a3a3a;
}

/* get rid of the horizontal scroll bar */
.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow, 
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.table-row-cell{
    -fx-background-color: transparent;
}

.table-row-cell:odd{
    -fx-background-color: #424242;
}

.table-row-cell:selected {
    -fx-background-color: rgb(81,176,172);
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view .column-header .label{
    -fx-alignment:CENTER_LEFT
}

.table-column{
	-fx-pref-width: 30em;
}

#numberCol {
	-fx-pref-width: 5em;
}


/** TREE VIEW **/
tree-view > .virtual-flow > .scroll-bar:vertical,
.tree-view > .virtual-flow > .scroll-bar:vertical > .track,
.tree-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.tree-view > .virtual-flow > .scroll-bar:horizontal,
.tree-view > .virtual-flow > .scroll-bar:horizontal > .track,
.tree-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: #3a3a3a;
}

/* get rid of the horizontal scroll bar */
.tree-view *.scroll-bar:horizontal *.increment-button,
.tree-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.tree-view *.scroll-bar:horizontal *.increment-arrow, 
.tree-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.tree-view > .virtual-flow > .scroll-bar > .increment-button, 
.tree-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}


.tree-cell, .tree-view {
   -fx-background-color: transparent;
   -fx-table-cell-border-color: transparent;
   -fx-font-family: 'Menlo';
   -fx-text-fill: -fx-text;
}

.tree-cell:selected {
    -fx-font-weight: bold ;
    -fx-text-fill: -fx-text_hover ;
}

.my-tree-view > .virtual-flow> .clipped-container > .sheet > .tree-cell .tree-disclosure-node .arrow {
    -fx-background-color: orange; /** uncollaped */
}
.my-tree-view > .virtual-flow> .clipped-container > .sheet > .tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-background-color: -fx-text_hover ; /** collapsed **/
}


